{
  "openapi": "3.0.0",
  "info": {
    "title": "Enrich Labs API",
    "description": "Enrich Labs API Documentation",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.enrich.so",
      "description": "Production server"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT Bearer token. Format: Bearer {token}"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/api/auth": {
      "get": {
        "summary": "Get authentication token",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "Authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "uid": {
                      "type": "string"
                    },
                    "team": {
                      "type": "string"
                    },
                    "total_credits": {
                      "type": "number"
                    },
                    "credits_used": {
                      "type": "number"
                    },
                    "credits_remaining": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/api/person": {
      "get": {
        "summary": "Enrich a person",
        "tags": [
          "Enrich"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "email",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "flatten",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Request accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "total_credits": {
                      "type": "number"
                    },
                    "credits_used": {
                      "type": "number"
                    },
                    "credits_remaining": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": []
}
